      <div class="row"> 
        <div class="col-12">
      
        <table>
         <col width="70%">
         <col width="30%">
         <tr>
           <td>
           <p class="welcome_text_ana_1">I am a robotics researcher at <a href="https://traclabs.com/">TRACLabs</a>, in Houston, Texas. My research interests focus on generalizable robot manipulation. I investigate how to enable robots to grasp stuff around them.  Check out the Research section of my page for more information. During my grad school years, I was advised by <a href="http://hichristensen.com">Prof. Henrik Christensen</a> and by <a href="http://www.golems.org">Prof. Mike Stilman</a>.</p>
           </td>
           <td style="text-align:right">
             <figure>
                <img src="images/robot_arm.png" alt="Robot arm logo" style="width:117px;height:127px" align="center">
                <figcaption></figcaption>
            </figure>
           </td>
         </tr>
        </table>

        <p class="welcome_text_small">
  	  <b>News:</b>
        </p>
	
      <ul class="small_text">
    	<li><b>September, 2025:</b> Started two Phase I projects: BUILDER and DRAGOMAN</li>
    	<li><b>May, 2025:</b> Attended SpaceOps in Montreal, to present our NASA STTR Phase II work with BRASH</li>
    	<li><b>September, 2024:</b> Attended ICRA@40 in Rotterdam, Netherlands, to present a poster on our work with Plummrs</li>
    	<li><b>September, 2017:</b>Attended IROS to present our work on learning handover preferences (done at Toyota)</li>
    	<li><b>February, 2017:</b> Joined Traclabs. Arrived on Superbowl day</li>
    	<li><b>May, 2016:</b> Graduated from the Robotics PhD program at Georgia Tech</li>
      </ul>
	
      </div>
      </div>
      <!-- END Home Intro Text -->        

