<nav>
  <ul id="menu-header" class="nav-bar horizontal">
            
    <li class=""><a href="index.html">Home</a></li>              
    <li class=""><a href="research.html">Research</a></li>  
    <li class=""><a href="publications.html">Publications</a></li>
    <li class=""><a href="contact.html">Contact</a></li>
    <li class=""><a href="code.html">Code</a></li>
    <li class=""><a href="tutorials.html">Tutorials</a></li>
    <li class=""><a href="about.html">About</a></li>
  </ul>
  
  <script type="text/javascript">
    //<![CDATA[
    $(document).ready(function() {
    $('.menu-header a').click(function(e) {
        // Prevent default anchor behavior if you are not navigating to a new page
        // e.preventDefault(); 
        
        // Remove 'active' class from all li items in this menu
        $('.menu-header li').removeClass('active');
        
        // Add 'active' class to the parent li of the clicked link
        $(this).closest('li').addClass('active');
    });
});
    //]]>
  </script>  
  
  <!--<script type="text/javascript">
    //<![CDATA[
    $('ul#menu-header').nav-bar();
    //]]>
  </script>-->
  

</nav>

