<nav class="col-12">
  <ul id="menu-header" class="nav-bar horizontal">
            
    <li class="active"><a href="index.html">Home</a></li>              
    <li class=""><a href="research.html">Research</a></li>  
    <li class=""><a href="publications.html">Publications</a></li>
    <li class=""><a href="contact.html">Contact</a></li>
    <li class=""><a href="code.html">Code</a></li>
    <li class=""><a href="tutorials.html">Tutorials</a></li>
    <li class=""><a href="about.html">About</a></li>
  </ul>

  <script type="text/javascript">
    //<![CDATA[
    $('ul#menu-header').nav-bar();
    //]]>
  </script>

</nav>

