<div class="row col-12 show-for-large-up">
  <div id="featured"><img src="images/slide0_crichton_pickup.png" alt="Crichton pickup" width="960" height="250" />
<img src="images/slide1_ICHR2014.png" alt="ICHR 2014" width="960" height="250" /><img src="images/baxter_asu_grasps_1.png" alt="Crichton Jr. picking up objects at ASU" width="960" height="250" /><img src="images/slide2_multiplePaths.png" alt="IROS 2013" width="960" height="250" /><img src="images/slide4_apcDogFood.png" alt="APC Dog Food Trial" width="960" height="250" /></div>
  </div>
</div>

